body {
    font-family: 'Corben', Georgia, Times, Sans-Serif;
    height: 100%;
    background: radial-gradient(at top right, #e2e2e2, gray) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h1 {
    color: black
}
.page {
    display: block;
    height: 100%;
}
.tabcontainer {
    height: 28px;
    width: 100%;
}
.specialtab {
    background: linear-gradient(245deg, lightcoral, red);
}
.tab {
    height: 35px;
    width: 33%;
    float: left;
    font-size: 13px;
    border: 1px solid black;
    text-align: center;
}
.subtab {
    width: 32%;
/*    display: none; */
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
}
#bold {
    font-size: 16px;
    margin-top: 50%;
}
#ta, #tc, #te {
    margin-top: 18px;
}
#ts {
    margin-left:15%;
}
.tabcontainer .tab > .subtab {
    display: block;
    width: 32%;
}
.tabcontainer .tab:hover .subtabcontainer > .subtab ,
.tabcontainer .tab .subtabcontainer:hover > .subtab ,
.tabcontainer .tab .subtabcontainer > .subtab:hover {
    display: block;
    opacity: 1.0;
}
input, label {
    float: right;
}
button {
    float: right;
}
.name {
    font-size: 20px;
}
