body {
    font-family: 'Corben', Georgia, Times, Sans-Serif;
    height: 100%;
    background: radial-gradient(at top right, #e2e2e2, gray) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h1 {
    color: black
}
#home {
    display: block;
    height: 100%;
}
.tabcontainer {
    height: 28px;
    width: 100%;
}
.specialtab {
    background: linear-gradient(245deg, lightcoral, red);
}
.tab {
    height: 25px;
    width: 7.5%;
    float: left;
    font-size: 14px;
    border: 1px solid black ;
}
#bold {
    font-size: 16px;
    margin-left: 25%;
}