body {
    font-family: 'Corben', Georgia, Times, Sans-Serif;
    height: 100%;
    background: radial-gradient(at top right, #e2e2e2, gray) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h1 {
    color: black
}
.page {
    display: block;
    height: 100%;
}
#home {
    display: none;
}
#fg {

}
.tabcontainer {
    height: 28px;
    width: 100%;
}
.specialtab {
    background: linear-gradient(245deg, lightcoral, red);
}
.tab {
    height: 35px;
    width: 33%;
    float: left;
    font-size: 13px;
    border: 1px solid black;
    text-align: center;
}
.subtab {
    width: 32%;

    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
}
#bold {
    font-size: 16px;
    margin-top: 50%;
}
#ta, #tc, #te {
    margin-top: 18px;
}
#ts {
    margin-left:15%;
}
.tabcontainer .tab .subtabcontainer > .subtab {
    display: block;
    opacity: 0.0;
    -webkit-transition: opacity 0.5s;
    width: 32%;
}
.tabcontainer .tab:hover .subtabcontainer > .subtab ,
.tabcontainer .tab .subtabcontainer:hover > .subtab ,
.tabcontainer .tab .subtabcontainer > .subtab:hover {
    display: block;
    opacity: 1.0;
    -webkit-transition: opacity 0.5s
}
.subtabcontainer, .subtab {
    display: block;
}
input, label {
    float: right;
}
button {
    float: right;
}
.name {
    font-size: 20px;
}
#box
{
    margin: auto;
    height: 500px;
    width: 500px;
    border: 1px black dashed;
    overflow: hidden;
    margin-top: 25px;
}
#gamecontainer
{
    width: 1500px;
    height: 500px;
    float: left;
    background: #525252;
    margin-left: 0px;
}
.frame
{
    margin: 9px;
    width: 480px;
    height: 480px;
    background: white;
    border: 1px solid black;
    float: left;
}
.gamename {
    text-align: center;
}
iframe {
    height: 480px;
    width: 480px;
}